<div class="comments">
  <div>
    <textarea [(ngModel)]="model.content" name="content"  placeholder="What do you think about this post?"></textarea>
  </div>
  <div>
    <button type="submit" class="btn btn-success" (click)="postComment()">Post</button>
  </div>
  <div *ngIf="comments">
    <div *ngFor="let comment of comments">
      <div class="commentBox">{{comment.content}}</div>
      <div>
        By: {{comment.author}}
        Date created: {{comment?.date | date}}

        <button *ngIf="isAdmin" (click)="deleteComment(comment?._id)">&#10006;</button>
      </div>
    </div>
  </div>
</div>
