.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  padding-bottom: 12px;
  padding-top: 12px;
  left: 0;
  background-color: #c0c0c0;
  text-align: center;
  width: 100%;
}
.main-container{
  text-align: center;
  width: 100%;
  margin-top: 5%;
  padding-bottom: 95%;
}
