
<div><h4>DIAGNOSTICS</h4>{{diagnostics}}</div>
<div class="container">
  <h1>Article Form</h1>
  <form (ngSubmit)="onSubmit()" #artcleForm="ngForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input name="title" type="text" class="form-control" id="title" [(ngModel)]="model.title" #title="ngModel"
            maxlength="20"  required>
    </div>
    <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
      Title is required!
    </div>
    <div [hidden]="title.pristine || title.valid" class="alert alert-danger">Title max length is 20 symbols</div>

    <div class="form-group">
      <label for="author">Author</label>
      <input name="author" type="text" class="form-control" id="author" [(ngModel)]="model.creator" #author="ngModel"
             minlength="3" maxlength="20" disabled>
    </div>
    <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
      Author is required!
    </div>
    <div class="form-group">
      <label for="image">Image Url</label>
      <input type="url" class="form-control" id="image" name="image" minlength="10" [(ngModel)]="model.image" #image="ngModel"
             required/>
      <div [hidden]="image.valid || image.pristine" class="alert alert-danger">
      Image is required!
      </div>
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <input name="content" type="text" class="form-control" id="content" [(ngModel)]="model.content" required>
    </div>
    <div class="form-group">
      <label for="published">published</label>
      <input name="published" type="text" class="form-control" id="published" [(ngModel)]="model.published" disabled>
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <select class="form-control"
              id="category"
              required>
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
      </select>
    </div>

    <button [disabled]="artcleForm.form.invalid" type="submit" class="btn btn-success">Submit</button>
  </form>
  <br>
  <div>
  <button (click)="artcleForm.reset()" class="btn btn-reset">Reset</button>
</div>
</div>



