<div class="container">
  <h1>Edit {{article?.title}}</h1>
  <img class="image" src={{article?.image}}/>
  <form (ngSubmit)="editArticle(articleId)" [formGroup]="articleForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input formControlName="title"  type="text" class="form-control" id="title" value={{article?.title}}
             required>
    </div>
    <div [hidden]="articleForm.get('title').valid || articleForm.get('title').pristine" class="alert alert-danger">
      Title with maximum of 10 symbols  is required!
    </div>

    <div class="form-group">
      <label for="image">Image Url</label>
      <input formControlName="image" type="text" class="form-control" id="image" value={{article?.image}}
        required/>
      <span [hidden]="articleForm.get('image').valid || articleForm.get('image').pristine">
      Image is required!
      </span>
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      <input formControlName="author" type="text" class="form-control" id="author" value={{article?.author}}
             required>
    </div>
    <div *ngIf="(articleForm.get('author').touched
      || articleForm.get('author').dirty)
      && articleForm.get('author').errors" class="alert alert-danger">
      <span *ngIf="articleForm.get('author').errors.required">
        author is required!
      </span>
      <span *ngIf="articleForm.get('author').errors.minlength">
        Author should be at least 10 symbols long!
      </span>
    </div>

    <div class="form-group" [ngClass]="{'has-error': contentMessage}">
      <label for="content">Content</label>
      <input formControlName="content" type="text" class="form-control" id="content" minlength="10"  value={{article?.content}}required>
    </div>
    <div *ngIf="contentMessage" class="alert alert-danger">{{contentMessage}}</div>

    <div class="form-group">
      <label for="category">Category</label>
      <select class="form-control"
              id="category"

              required>
        <option *ngFor="let category of categories" [value]="category"  >{{category}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>



