<section class="header">
  <h1>Welcome to the Art Nail Blog</h1>
  <h3>List Articles</h3>
  <p>Hello {{username}}!</p>
</section>

<section class="container">
  <div class="row">


    <div class="col-md-4 col-sm-6" *ngFor="let article of articles" (article)="article">
      <div class="ad-box">
        <div class="box-title">
          <span class="title">{{article?.title}}&nbsp;</span>
          <button *ngIf="isAuthorCheck(username, article)" class="ad-control edit">
            <a *ngIf="isAuthorCheck(username, article)"
               href="/articles/edit/{{article._id}}">&#9998;</a>
          </button>
          <button *ngIf="isAdmin" (click)="deleteArticle(article?._id)" class="ad-control delete">&#10006;</button>
        </div>
        <figure>
          <img src="{{article?.image}}" alt="image" class="img-responsive">
          <figcaption>
            <div>
              <span>Created by </span>{{article?.author}}
            </div>
            <div>
              <span>on </span>{{article?.published}}
            </div>
          </figcaption>
        </figure>

        <div class="category"><span>Category: {{article?.category}}</span></div>
        <div>
          <a [routerLink]='["/articles/details/", article?._id]' class="btn btn-default">More info</a>
        </div>
      </div>
    </div>
  </div>
</section>
